@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Bebas Neue', sans-serif;

}

body {
    background: #fefefe;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    padding: 0 100px;
    background: #d9d9d9 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
                  
}

#home, #services, #gallery {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*Nav Section*/
.logo {
    font-size: 25px;
    color: #18375d;
    text-decoration: none;
    font-weight: 600;
    
}

.logo-container {
    display: block;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.logo-img {
    width: 80px;
    height: auto;
    margin-bottom: -15px;
    
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #18375d;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #ffffff;
    background: #354eab;
}
    
.nav-bar ul li a.active {
    color:#ffffff;
    background: #354eab;
    
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (width < 800px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #354eab;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #ffffff;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 450px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        color: rgb(0, 0, 0);
    }
}



/* Home Section */
#home {
    position: relative; 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: backgroundAnimation 20s infinite;
    z-index: -1;
}

#home h1, #home p {
    opacity: 1; 
    transition: opacity 0.5s ease; 
}

.home__content {
    transition: opacity 0.5s ease;
}

.home__content h1 {
    font-size: 80px; 
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 0;
    color: #18375d; 
    white-space: nowrap; 
}

.home__content p {
    font-size: 30px; 
    line-height: 1.5;
    margin: 0;
    color: #18375d;
    max-width: 700px; 
    width: 100%; 
    word-wrap: break-word; 
    white-space: normal;
    text-align: justify 
}

.home__content {
    position: absolute;
    left: 50px; 
    top: 50%; 
    transform: translateY(-50%);
    color: rgb(56, 76, 149); 
    text-align: left; 
    z-index: 10; 
    max-width: 700px; 
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@keyframes backgroundAnimation {
    0% { background-image: url('images/Start.jpg'); }
    25% { background-image: url('images/Start\ \(2\).jpg'); }
    50% { background-image: url('images/Start\ \(3\).jpg'); }
    75% { background-image: url('images/Start\ \(4\).jpg'); }
    100% { background-image: url('images/Start\ \(5\).jpg'); }
}

.button__group {
    display: flex; 
    gap: 25px; 
    justify-content: flex-start; 
    margin-top: 30px; 
}

.read__more,
.appointment__btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(245 238 238);
    background-color: #263672;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.read__more:hover,
.appointment__btn:hover {
    background-color: rgba(53, 78, 171, 0.8);
    color: #ffffff;
}

/*Read More Section*/

#read-more {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
    margin-top: 10px
    
}

#read-more h2 {
    font-size: 6rem;
    color: #18375d;
    margin-bottom: -20px;
    letter-spacing: 6px;
    
}

#read-more p {
    font-size: 2.0rem;
    color: #18375d;
    max-width: 1250px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400; 
    text-align: justify; 
    text-transform: uppercase;
    margin-top: 30px;
}


/* About Section */
#about {
    display: flex;
    position: relative;
    min-height: 100vh;
    justify-content: flex-start; 
    background-color: 354eab;
    align-items: flex-start; 
    padding-top: 100px; 
}

.poppins-font {
    font-family: 'Poppins', sans-serif;
}

.about_content {
    text-align: left; 
    padding: 20px;
    width: 100%; 
    margin-left: 90px; 
}

.about_content h1 {
    font-size: 5rem;
    color: #18375d;
    margin-bottom: 10px;
}

.about_content h2 {
    font-size: 3rem;
    color: #18375d;
    margin-top: 20px;
    font-weight: normal;
}

.about_content p {
    font-size: 1.5rem;
    font-weight: 500; 
    color: #555; 
    margin-top: 5px; 
    max-width: 700px; 
    text-align: justify; 
    line-height: 1.6; 
}


.about_content_right {
    text-align: right;
    padding: 20px;
    width: 75%;
    margin-right: 90px;
    margin-top: 60px;
}

.about_content_right h3 {
    font-size: 2.5rem;
    color: #333;
    margin-top: 5px; 
}

.about_content_right p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #555;
    line-height: 1.6;
    margin-top: 130px; 
    text-align: justify;
    max-width: 700px;
    
}

.about_content_right h4 {
    font-size: 2.5rem; 
    color: #333;
    margin-top: 60px; 
}


/*Services Section */
.services {  
    position: relative;  
    padding: 60px 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}  

.services h1 {  
    font-size: 75px;  
    color: #18375d;  
    text-align: center;  
    margin-bottom: 30px;  
}  

.services-container {  
    display: grid;  
    grid-template-columns: repeat(2, 1fr);  
    gap: 20px;   
}  

.service-card {  
    background-color: rgba(255, 255, 255, 0.9);  
    padding: 20px;  
    border-radius: 8px;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    display: flex;  
    align-items: center;  
    gap: 20px;  
}  

.service-card img {  
    width: 100px;  
    height: 100px;  
    border-radius: 8px;  
    object-fit: cover;  
}  

.service-card h2 {  
    font-size: 1.8rem;  
    margin-bottom: 10px;  
    color: #18375d;  
}  

.service-card p {  
    font-size: 1.5rem;  
    color: #555;  
    line-height: 1.4; 
    text-align: justify; 
}  

/* Gallery Section */
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 50px 0; 
    background-color: #ffffff; 
}

.gallery h1 {
    font-size: 75px; 
    color: #18375d;
    margin-bottom: 20px; 
    text-align: center;
}

.gallery-container {
    display: grid;
    grid-template-rows: repeat(3, 250px); 
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; 
    max-width: 1400px; 
    width: 100%; 
    padding: 0 30px; 
    box-sizing: border-box; 
}

.gallery-item {
    overflow: hidden;
    border-radius: 12px; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    height: 100%; 
}

.gallery-item:hover {
    transform: scale(1.2); 
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 12px; 
}

.gallery-item {
    position: relative; 
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover img {
    opacity: 0.3; 
}

.hover-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #18375d;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .hover-year {
    opacity: 1; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9); 
    width: 70%;
    max-width: 1000px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

#modal-img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    border-radius: 15px;
}

#modal-title {
    font-size: 48px; 
    margin: 20px 0;
    color: #18375d; 
    font-weight: bold;
}

#modal-description {
    font-size: 28px; 
    color: #222; 
    line-height: 2; 
}


.close {
    position: absolute;
    top: 15px; 
    right: 20px;
    color: #000000;
    font-size: 70px; 
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
    padding: 10px;
    

}

.close:hover {
    color: #000000;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* contact */

.contact-header {
    height: 400px;
    width: 100%;
    background: url('images/engineer.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px; 
}

.contact-header .overlay {
    background-color: rgba(255, 255, 255, 0.5); 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 50px; 
}

.contact-header h1 {
    font-size: 5rem; 
    color: #18375d;
    margin-bottom: 10px;
    margin-top: 60px; 
}

.contact-header p {
    font-size: 1.5rem; 
    line-height: 1.5; 
    color: #333;
    margin: 0;
    max-width: 800px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    text-align: justify; 
}

.contact-message {
    flex: 1 1 auto;
    max-width: 169%; 
    background: rgba(255, 255, 255, 0.95); 
    padding: 20px; 
    text-align: left; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    font-size: 1.2rem; 
    line-height: 1.4; 
    letter-spacing: 0.5px; 
    border-radius: 8px;
    display: flex;              
    flex-direction: column;      
    justify-content: flex-start; 
    align-items: flex-start;   
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    color: #000000;
    text-align: justify;
    
}


.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 20px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.contact-form {
    flex: 1 1 auto; 
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    font-size: 2rem; 
    font-weight: 700; 
    color: #000000; 
    margin-top: 20px; 
    text-align: left; 
    letter-spacing: 1px;
    
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    text-align: justify;
}

.contact-form textarea {
    height: 75px; 
}

.contact-button {
    width: auto;
    padding: 10px 20px; 
    font-size: 16px;
    color: #ffffff;
    background-color: #18375d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

.contact-map-message {
    flex: 2 1 200px; 
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.contact-map {
    flex: 1 1 auto;
    max-width: 100%; 
    border-radius: 8px;
}

.contact-map iframe {
    width: 100%;
    height: 250px; 
    border-radius: 8px;
    border: 1px solid #ccc;
}


.contact-info {
    flex: 1 1 auto;
    max-width: 100%; 
    background: rgba(255, 255, 255, 0.95); 
    padding: 20px; 
    text-align: left; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    font-size: 1.4rem; 
    line-height: 1.5; 
    letter-spacing: 0.8px; 
    border-radius: 8px;
    display: flex;            
    flex-direction: column;      
    justify-content: flex-start; 
    align-items: flex-start;    
    color: #000000;
    
}

.contact-info p {
    font-size: 1.2rem; 
    font-weight: 400;
    margin-bottom: 10px; 
    color: #000000; 
    
}

.contact-info strong {
    font-weight: 800; 
    color: #000000; 
}

@media (max-width: 768px) {
    

    .contact-container {
        flex-direction: column;
    }

    .contact-map-message {
        flex-direction: column;
    }
    .contact-form {
        width: 100%;
    }
}